.transactionTable td {
    font-size: 0.75em;
    max-height: 1em;
    padding: 0.25rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.transaction-amount {
    width: 25vw;
}

.transaction-description {
    width: 75vw;
}

.transactionTable {
    table-layout: fixed;
}

.keypad-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: calc(100vh - 145px);
    align-content: space-around;
}

.keypad-button-third {
    width: 26vw;
    height: 26vw;
    font-size: 2em;
}

.keypad-button-half {
    width: 42vw;
    height: 15vw;
    font-size: 1.5em;
}

.transactionTable tbody{
    display:block;
    overflow:auto;
    height: calc(100vh - 160px);
    width:100%;
}
.transactionTable thead tr{
    display:block;
}
